{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
	Edit Bio
{% endblock %}

{% block content %}
	
	<div class="text-left mt-5 container">
		{% for field in form %}
		    <p>
	        	{{ field.label_tag }}
	        	{{ field|attr:"rows:20"|attr:"cols:20" }}
		       {% if field.help_text %}
		          <small style="color: grey">{{ field.help_text }}</small>
		        {% endif %} 
		        {% for error in field.errors %}
		          <p style="color: red">{{ error }}</p>
		        {% endfor %}
		    </p>
		{% endfor %}
	</div>


	<div class="container rounded bg-white mt-5 mb-5"></div>
			<div class="col-md-5 border-right">
				<div class="p-3 py-5">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<h6 class="text-right">Edit your profile</h6>
					</div>
					<div class="row mt-2">
						<div class="col-md-6"><label class="labels">UserName</label><input type="text" class="form-control" placeholder="first name" value="John"></div>
					</div>
					<div class="row mt-3">
						<div class="col-md-12"><label class="labels">Email</label><input type="email" class="form-control" placeholder="Email" value="your@email.com"></div>
						<div class="col-md-12"><label class="labels"> Password</label><input type="password" class="form-control" placeholder="Pass" value="Passw0rd"></div>
						<div class="col-md-12"><label class="labels">New Password</label><input type="password" class="form-control" placeholder="Pass" value="Passw0rd"></div>
					</div>
				
					<div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
				</div>
			</div>
		
		

{% endblock %}
